body{
	/*background-color:#4AC8F7;*/
	background-image: url("../img/fondo.jpg");
	background-color: #cccccc;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.elemento{
 margin-top: 30%;
 font-weight: bold;
 color: white;
/*border: solid red;*/
}

#cabecera {
 margin-top: 1%;
 margin-left: 5%;
 /*height: 200px;*/
}

.menu{
	margin-top: 1%;
}

p {
 margin: 20px;
 padding: 0;
}
